<h2><%= @idea.title %></h2>
<h4><%= @idea.description %></h4>
<form action="/idea/<%= @idea.id %>" method="post">
<input name="_method" type="hidden" value="put" />
<input type="text" name="title" id="title" value="<%= @idea.title %>">
<input type="text" name="description" id="description" value="<%= @idea.description %>">
<input id="completed" name="completed" type="checkbox" value="done" <%= @idea.completed_at ? "checked" : "" %>/>
<input id="idea_submit" name="commit" type="submit" value="Update" />
</form>

<a href="/idea/<%= @idea.id %>/delete">Delete this idea</a>
